@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

:root {

    /* colors */

    --white-color: #FFFFFF;
    --C4-gray-color: #C4C4C4;
    --C6-gray-color: #C6C6C6;
    --lt-gray-color: #9A9A9A;
    --dk-gray-color: #3E3E3E;
    --dkr-gray-color: #333333;
    --blue-color: #10467E;
    --dk-blue-color: #212B37;
    --red-color: #ED1C22;
    --br-red-color: #FF0909;
    --black-color: #000000;

     /* fonts */

    --noto-font: 'Noto Sans JP', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
   
     /* font-sizes */
     --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
     --fs-800: 3rem;
     --fs-700: 1.5rem;
     --fs-600: 1.3rem;
     --fs-500: 1rem;
     --fs-400: .8rem;
     --fs-300: .7rem;
     --fs-200: .675rem;

      /* letter-spacing */
     --spacing-3: .07rem;
     --spacing-2: .05rem;
     --spacing-1: .03rem;

    }

    @media (min-width: 35em) {
        :root {
            /* font-sizes */
            --fs-800: 5rem;
            --fs-700: 2.5rem;
            --fs-600: 1.5rem;
            --fs-500: 1.25rem;
            --fs-400: 1rem;
            --fs-200: .8rem;

            /* letter-spacing */

            --spacing-3: .12rem;
            --spacing-2: .1rem;
            --spacing-1: .06rem;
        }
    }
    
    @media (min-width: 65em) {
        :root {
            /* font-sizes */
            --fs-800: 6rem;
            --fs-700: 4rem;
            --fs-600: 2rem;
            --fs-500: 1.75rem;
            --fs-400: 1.125rem;
            --fs-200: 1rem;

            /*letter-spacing*/

            --spacing-3: .2rem;
            --spacing-2: .15rem;
            --spacing-1: .09rem;
        }
    }


/* typography */

.font-white { color: var(--white-color); }
.font-lt-gray { color: var(--lt-gray-color); }
.font-dk-gray { color: var(--dk-gray-color); }
.font-blue { color: var(--blue-color); }
.font-dk-blue { color: var(--dk-blue-color); }
.font-dkr-gray { color: var(--dkr-gray-color); }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.italic { font-style: italic; }

.bold { font-weight: bold; }
.bold900 { font-weight:900; }

.roboto { font-family: var(--roboto-font); }
.noto { font-family: var(--noto-font); }


.spacing-1 { letter-spacing: var(--spacing-1); }
.spacing-2 { letter-spacing: var(--spacing-2); }
.spacing-3 { letter-spacing: var(--spacing-3); }

.bg-red { background-color: var(--red-color); }
.bg-dk-blue { background-color: var(--dk-blue-color); }

/* utility classes */

.display-block { display: block; }

.gap { gap: 1em; }

.margin-1 { margin: 3rem 0; }

.grid { display: grid; }

.flex { display: flex; }

.float-right { float: right; }

.float-left { float: left; }

.center-text { text-align: center; }

.center-items { align-items: center; }

.decoration-none { text-decoration: none; }

.list-style-none { list-style: none; }

.list-style-square { list-style-type: square; }

.container {
    padding-inline: 1rem;
    margin-inline: auto;
    max-width: 60rem;
}

.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;

}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-align { text-align: center; }
.item-align { align-items:center;}
.place-center { place-items: center;}
.justify { justify-content: center; }
.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }
.space-evenly { justify-content: space-evenly; }

.hidden { display: none; }

main section {
    margin-bottom: 5rem;
}

/* components */

* {
    margin: 0;
    padding: 0;
}

/* header section */

.logo-bar {
    height: 5rem;
    padding: .5rem;
    justify-content: space-between;
}

.logo {
    padding-right: .5rem;
}

.blue-phone {
    border: solid 2px var(--dk-blue-color);
    width: 1.75rem;
    height: 1.75rem;
}

.toggle-button {
    background: var(--dk-blue-color) url("assets/icon-hamburger.svg") center center no-repeat;
    width: 2rem;
    height: 2rem;
  
}

.お問い合わせ {
    text-align: center;
    border-radius: .1rem;
}

.main-nav {
    list-style: none;
    margin: 0;
    background: hsl( var(--blue-color) / 0.05);
    background-color: var(--dk-blue-color); 
}

nav ul li {
    padding-bottom: 1rem;
}

nav ul li a {
    text-decoration: none;
}

.main-nav a {
    color: var(--white-color);
    font-weight: 600;
}

header .main-banner {
    width: 100%;
    height: 18rem;
    background-size: cover;
    background: url("./Assets/banner-mobile1.png") no-repeat;
    opacity: 1;
    padding-left: 1rem;
    padding-top: 1rem;
}

.banner-text {
    text-align: left;
    letter-spacing: 3.5px;
    opacity: 1;
    padding: 0.5rem;
}

/* main */

/* greetings section */

.greetings-image {
    width: 12rem;
    height: 16rem;
    background: url("assets/グループ 1750/グループ\ 1750-mobile.png") no-repeat;
    background-size: cover;
    padding: 1rem;
}

.greetings-text {
    margin-top: 1rem;
}

.greetings-name {
    padding-top: 1rem;
}


/* vision section */

.vision-image {
    width: 100%;
    height: 8rem;
    position: relative;
    z-index: -1;
    background: url("assets/マスクグループ 94/マスクグループ 94-mobile.png") no-repeat;
    background-size: cover;
    margin-bottom: -4rem;
}

.vision-container {
    background-color: var(--white-color);
    margin-inline: .5rem;
}

/* company section */

.company-info li {
    border-bottom: solid var(--dk-blue-color) 1px;
}

.company-info-details li{
    margin-left: 1rem;
    border-bottom: solid var(--C4-gray-color) 1px;
}

.company-grid {
    display: grid;
    grid-template-columns: 5rem auto;
    column-gap: .5rem;
    margin-inline: 1rem;
}

.company-grid ul li {
    padding: 1rem 0;
    border-bottom: 1px solid;
}

.company-grid .company-info1 li {
    border-color: var(--blue-color);
}

.company-grid .company-info2 li {
    border-color: var(--C4-gray-color);
}

/* access section */

.map-container {
    width: 20rem;
    height: 28rem; 
}

.map-box {
    justify-content: center;

}

.map-location {
    display: inline-block;
    position: relative;
    padding-bottom: 1rem;
}

.map-location::after {
    content: '';
    height: 4px;
    width: 50%;
    background: var(--blue-color);
    position: absolute;
    left: calc(40% - 10%);
    bottom: 0;
}

.g-map {
    width: 90%; 
    height: 16rem;
    margin-top: 1rem;
}

.g-map-btn {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.map-text {
    padding: 1rem;
}

.map-text p {
    margin-top: 1rem;
}

.map-text ul li {
    margin-left: 1rem;
    list-style: none;
    
}

.blue-bullet li::before {
    color: var(--blue-color);
    content: "\25AA";
    font-weight: bold;
    width: 2rem;
    display: inline-block;
    margin-left: -1em;
    font-size: 1.5rem;
    position:relative;
    top: .2em;
}

/* footer section*/

footer {
    margin-top: 10rem;
    width: 100%;
}

.footer-banner {
    background: transparent url("./Assets/グループ 1826/グループ 1826-mobile.png") no-repeat;
    background-size: cover;
    padding-inline: 1rem;
}

.footer-logo {
    padding: 2rem 0;
}

.footer-list li {
   padding-bottom: 1rem;
   border-right: white 1px solid;
   padding-right: 1rem;
}

.footer-nav {
    height: 8rem;
    padding-top: 1.5rem;
}

.footer-nav a {
    color: var(--white-color);
}

.foot-note {
    padding: 1rem 0;
    font-size: .7rem;
}
@media (max-width: 700px) {
    .greetings-grid {
        margin-bottom: 3rem;
    }
    .greetings-image {
        margin-inline: auto;
    }
}

@media (min-width: 35em) {
    /*header section*/
    header .main-banner {
        height: 18rem;
        width: 100%;
        background: url("./Assets/banner-tablet.png") no-repeat;
        background-size: cover;
        padding-left: 6rem;
        padding-top: 5rem;
    }
    /*greetings section*/
    .greetings-image {
        width: 16rem;
        height: 20rem;
        background: url("assets/グループ 1750/グループ\ 1750-mobile.png") no-repeat;
        background-size: cover;
    }
    .greetings-grid {
        display: grid;
        grid-template-columns: 20rem auto;
        margin-inline: 1rem;
    }
    /*vision section*/
    .vision-image {
        margin-bottom: -4rem;
        height: 22rem;
    }
    .vision-container {
        margin: 0 2rem;
        padding: 1rem 1rem;   
    }
    /* company section*/
    .company-grid {
        display: grid;
        grid-template-columns: 10rem auto;
        column-gap: 1rem;
    }

    /*access section*/
    .map-box {
        display: flex;
        justify-content: space-between;
        padding-inline: 1.5rem;
    }
}
@media (max-width: 65em) {
    /* header section*/
    .toggle-button {
        background: var(--dk-blue-color) url("assets/icon-hamburger.svg") center center no-repeat;
        display: block;
        z-index: 99999;
        width: 2rem;
        height: 2rem;
        background-position: center;
        margin-left: .5rem;
    }
    .toggle-button[aria-expanded="true"] {
        background-image: url("assets/icon-close.svg");  
    }
    .main-nav {
        position: fixed;
        z-index: 999;
        inset: 0 0 0 20%;
        list-style: none;
        padding: min(2rem, 5vh);
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    } 
    .main-nav[data-visible="true"] {
        transform: translateX(0);
    }
    
    /* footer section */
    .footer-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        text-align: center;
    }
}

@media (min-width: 65em) {
    /* header section*/
    nav ul li a {
        border-right: 1px rgb(200, 200, 200) solid;
    }
    .main-nav a {
        color: var(--dk-gray-color);
    }
    header .main-banner {
        height: 22rem;
        width: 100%;
        background: url("./Assets/グループ 41@2x-desktop.png") no-repeat;
        background-position: center;
        background-size: cover;
        padding-left: 12rem;
        padding-top: 5rem;
    }
    .blue-phone {
        border: none;
        padding-top: .3rem;
        padding-right: .5rem;
    }
    .お問い合わせ {
        height: 3vh;
        width: 10rem;
        padding: 0.5rem 0;
        margin-left: 2rem;
    }
    .main-nav {
        background-color: white;
        padding-bottom: 1rem;
    }
    .hidden {
        display: block;
    }
    .logo-bar {
        height: 5rem;
        padding: 1rem;
        justify-content: space-between;
    }
    .toggle-button {
        display: none;
    }
    .main-nav {
        justify-content: space-around;
        display: flex;
    }
    nav ul li a {
        padding-right: 0.5rem;
    }
    .nav-end {
        border-right: none;
    }
    /* greetings section */
    .greetings-grid {
        grid-template-columns: 20rem 30rem;
    }
    .greetings-image {
        width: 16rem;
        height: 20rem;
        background: url("assets/グループ 1750/グループ\ 1750@2x-desktop.png") no-repeat;
        background-size: cover;
        padding: 1rem;
    }
    /* vision section */
    .vision-image {
        height: 35rem;
        width: 100%;
        background: url("assets/マスクグループ 94/マスクグループ 94@2x-desktop.png") no-repeat;
        background-size: cover;
    }
    .vision-container {
        margin: auto;
        padding: 3rem 6rem;   
    }
    /* access section */
    .g-map {
        width: 20rem; 
        height: 17rem;
        margin-top: 1rem;
    }
    /* footer section */
    .footer-banner {
        height: 22rem;
        margin-top: 12rem;
        background:  url("./Assets/グループ 1826/グループ\ 1826@2x-desktop.png") no-repeat;
    }
    .footer-list li {
        padding-bottom: 1rem;
        border-right: white 1px solid;
        padding-right: 4rem;
     }
     .お問い合わせ-footer {
         width: 15rem;
     }
}