@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {

    /* Colors */

    --white-color: #FFFFFF;
    --C4-gray-color: #C4C4C4;
    --C6-gray-color: #C6C6C6;
    --lt-gray-color: #9A9A9A;
    --dk-gray-color: #3E3E3E;
    --dkr-gray-color: #333333;
    --blue-color: #10467E;
    --dk-blue-color: #212B37;
    --red-color: #ED1C22;
    --br-red-color: #FF0909;
    --black-color: #000000;

    /*fonts*/

    --noto-font: 'Noto Sans JP', sans-serif;
    --roboto-font: 'Roboto', sans-serif;

     /* font-sizes*/
     --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
     --fs-800: 2.2rem;
     --fs-700: 2rem;
     --fs-600: 1rem;
     --fs-500: 1rem;
     --fs-400: 0.6375rem;
     --fs-300: 1rem;
     --fs-200: 0.875rem;
    }

    @media (min-width: 35em) {
        :root {
            --fs-800: 5rem;
            --fs-700: 3rem;
            --fs-600: 1.5rem;
            --fs-500: 1.25rem;
            --fs-400: 1rem;
            --fs-200: 1rem;
        }
    }
    
    @media (min-width: 65em) {
        :root {
            /* font-sizes */
            --fs-800: 6rem;
            --fs-700: 4.4rem;
            --fs-600: 2rem;
            --fs-500: 1.75rem;
            --fs-400: 1.125rem;
            --fs-200: 1.1rem;
        }
    }

/* Typography */

.font-white { color: var(--white-color); }
.font-lt-gray { color: var(--lt-gray-color); }
.font-dk-gray { color: var(--dk-gray-color); }
.font-blue { color: var(--blue-color); }
.font-dk-blue { color: var(--dk-blue-color); }
.font-dkr-gray { color: var(--dkr-gray-color); }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.italic { font-style: italic; }

.bold { font-weight: bold; }
.bold900 { font-weight:900; }

.roboto { font-family: var(--roboto-font); }
.noto { font-family: var(--noto-font); }


.bg-red { background-color: var(--red-color); }

/* Utility Classes */
.gap { gap: 1em; }
.margin-1rem {
    margin: 3rem 0;
}
.grid { display: grid; }

.flex { display: flex; }

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.center-text {
    text-align: center;
}

.center-items {
    align-items: center;
}

.decoration-none {
    text-decoration: none;
}

.list-style-none {
    list-style: none;
}

.container {
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 60rem;
}

.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;

}
.text-align { text-align: center; }
.justify { justify-content: center; }
.item-align { align-items:center;}
.place-center { place-items: center;}

.hidden { display: none; }

/* General */

* {
    margin: 0;
    padding: 0;
}

/* Header */

.logo-bar {
    height: 5rem;
    padding: .5rem;
    justify-content: space-between;
}

.logo {
    padding-right: .5rem;
}

.blue-phone {
    border: solid 2px var(--dk-blue-color);
    width: 1.75rem;
    height: 1.75rem;
}

.toggle-button {
    background: var(--dk-blue-color) url("assets/icon-hamburger.svg") center center no-repeat;
    width: 2rem;
    height: 2rem;
  
}

.お問い合わせ {
    text-align: center;
    border-radius: .1rem;
}

.main-nav {
    list-style: none;
    margin: 0;
    background: hsl( var(--blue-color) / 0.05);
    backdrop-filter: blur(1.5rem);
    padding-bottom: 1rem;
}

nav ul li a {
    font-weight: bold;
    color: var(--dkr-gray-color);
    text-decoration: none;
}

header .main-banner {
    width: 100%;
    height: 18rem;
    background-size: cover;
    background: url("./Assets/banner-mobile1.png") no-repeat;
    opacity: 1;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 6rem;
}

.banner-text {
    text-align: left;
    letter-spacing: 3.5px;
    opacity: 1;
    padding: 1rem;
}

/* Main */

/* Greetings Section*/

.greetings-grid {
    margin-bottom: 3rem;
}

.greetings-image {
    width: 12rem;
    height: 16rem;
    background: url("assets/グループ 1750/グループ\ 1750-mobile.png") no-repeat;
    background-size: cover;
    padding: 1rem;
}
.greetings-text {
    margin-top: 1rem;
}

/* Vision Section*/

.vision-image {
    margin-top: 5rem;
    width: 100%;
    height: 8rem;
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;
    background: url("assets/マスクグループ 94/マスクグループ 94-mobile.png") no-repeat;
    background-size: cover;
}
.vision-container {
    background-color: var(--white-color);
}

/* Company Section */

.company-info li {
    border-bottom: solid var(--dk-blue-color) 1px;
}
.company-info-details li{
    margin-left: 1rem;
    border-bottom: solid var(--C4-gray-color) 1px;
}

.company-grid {
    display: grid;
    grid-template-columns: 5rem auto;
    column-gap: .5rem;
    margin-inline: 1rem;
}
.company-grid ul li {
    padding: 1rem 0;
    border-bottom: 1px solid;
}
.company-grid .company-info1 li {
    border-color: var(--blue-color);
    font-size: .8rem;
}
.company-grid .company-info2 li {
    border-color: var(--C4-gray-color);
    font-size: .8rem;
}

/* Access Section */

.g-map {
    height: 14rem;
}

/* Footer */

footer {
    margin-top: 2rem;
}

.footer-banner {
    background: transparent url("./Assets/グループ 1826/グループ 1826-mobile.png") no-repeat;
}


@media (min-width: 35em) {
    header .main-banner {
        height: 18rem;
        width: 100%;
        background: url("./Assets/banner-tablet.png") no-repeat;
        background-size: cover;
        padding-left: 6rem;
        padding-top: 5rem;
    }
   
    .greetings-image {
        width: 16rem;
        height: 20rem;
        background: url("assets/グループ 1750/グループ\ 1750-mobile.png") no-repeat;
        background-size: cover;
    }
    .greetings-grid {
        display: grid;
        grid-template-columns: 20rem auto;
    }
    .vision-image {
        margin-bottom: -4rem;
        height: 22rem;
    }
    .vision-container {
        margin: 0 2rem;
        padding: 1rem 1rem;   
    }
    .company-grid {
        display: grid;
        grid-template-columns: 10rem auto;
        column-gap: 1rem;
        margin-inline: 2rem;
    }
    .company-grid .company-info1 li {
        font-size: 1rem;
    }
    .company-grid .company-info2 li {
        font-size: 1rem;
    }
}
@media (max-width: 65em) {
    .toggle-button {
        background: var(--dk-blue-color) url("assets/icon-hamburger.svg") center center no-repeat;
        display: block;
        z-index: 99999999999999999999999999999999999999;
        width: 2rem;
        height: 2rem;
        background-position: center;
        margin-left: .5rem;
    }
    .toggle-button[aria-expanded="true"] {
        background-image: url("assets/icon-close.svg");  
    }

    .main-nav {
        position: fixed;
        z-index: 99999;
        inset: 0 0 0 20%;
        list-style: none;
        padding: min(2rem, 2vh);
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    } 
    .main-nav[data-visible="true"] {
        transform: translateX(0);
    }
}

@media (min-width: 65em) {
    nav ul li a {
        border-right: 1px rgb(200, 200, 200) solid;
    }
    header .main-banner {
        height: 22rem;
        width: 100%;
        background: url("./Assets/グループ 41@2x-desktop.png") no-repeat;
        background-position: center;
        background-size: cover;
        padding-left: 12rem;
        padding-top: 5rem;
    }
    .blue-phone {
        border: none;
        padding-top: .3rem;
        padding-right: .5rem;
    }
    .お問い合わせ {
        height: 3vh;
        width: 10rem;
        padding: 0.5rem 0;
        margin-left: 2rem;
    }
    .main-nav {
        background-color: white;
    }
    .hidden {
        display: block;
    }
    .logo-bar {
        height: 5rem;
        padding: 1rem;
        justify-content: space-between;
    }
    .toggle-button {
        display: none;
    }
    .main-nav {
        justify-content: space-around;
        display: flex;
    }
    nav ul li a {
        padding-right: 0.5rem;
    }
    .nav-end {
        border-right: none;
    }

    /* Greetings Section */
    .greetings-grid {
        display: grid;
        grid-template-columns: 20rem 30rem;
        column-gap: 2rem;
        margin-inline: 1rem;
    }
    .greetings-image {
        width: 16rem;
        height: 20rem;
        background: url("assets/グループ 1750/グループ\ 1750@2x-desktop.png") no-repeat;
        background-size: cover;
        padding: 1rem;
    }
 

    .vision-image {
        height: 35rem;
        width: 100%;
        background: url("assets/マスクグループ 94/マスクグループ 94@2x-desktop.png") no-repeat;
        background-size: cover;
        
    }
    .vision-container {
        margin: auto;
        padding: 3rem 6rem;   
    }
    
    .g-map {
        width: 20rem; 
        height: 17rem;
    }
    .footer-banner {
        background:  url("./Assets/グループ 1826/グループ\ 1826@2x-desktop.png") no-repeat;
    }

    
}